# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

In [2]:
apple = pd.read_csv("appl_1980_2014.csv")
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [3]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [9]:
apple["Date"] = pd.to_datetime(apple["Date"])
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [10]:
apple.set_index("Date",drop=True, inplace=True)

### Step 7.  Is there any duplicate dates?

In [17]:
apple.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [20]:
apple.sort_index(inplace=True)
# apple

### Step 9. Get the last business day of each month

In [24]:
apple_month = apple.resample('BME').median()

apple_month.head()

             Open   High     Low   Close      Volume  Adj Close
Date
1980-12-31  29.63  29.75  29.630  29.630  17220000.0       0.46
1981-01-30  31.88  32.00  31.880  31.880   6160000.0       0.50
1981-02-27  26.50  26.50  26.370  26.370   4188800.0       0.41
1981-03-31  25.69  25.69  25.565  25.565   4020800.0       0.40
1981-04-30  27.50  27.62  27.500  27.500   5969600.0       0.43

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.