# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
dict = {
    "evolution": ["Ivysaur","Charmeleon","Watortle","Metapod"],
    "hp": [45,39,44,45],
    "name": ["Bulbasaur", "Charmander","Squirtle", "Caterpie"],
    "pokedex": ["yes","no","yes","no"],
    "type": ["grass","fire","water","bug"],
}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(dict)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Watortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[["name","type","hp","evolution","pokedex"]]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44    Watortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
place = ["forest","park","lake","tree"]
pokemon["place"] = place
pokemon

/tmp/ipykernel_84037/3608972211.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["place"] = place

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes  forest
1  Charmander   fire  39  Charmeleon      no    park
2    Squirtle  water  44    Watortle     yes    lake
3    Caterpie    bug  45     Metapod      no    tree

### Step 6. Present the type of each column

In [11]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [17]:
pokemon.sort_values(by=["hp","type"], ascending=[False,True])

         name   type  hp   evolution pokedex   place
3    Caterpie    bug  45     Metapod      no    tree
0   Bulbasaur  grass  45     Ivysaur     yes  forest
2    Squirtle  water  44    Watortle     yes    lake
1  Charmander   fire  39  Charmeleon      no    park